<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="form-container">
      <h2>Login</h2>
      <form action="/user-login" method="post">
        <div class="input-group">
          <input name="email" type="email" placeholder="E-mail" required />
        </div>
        <div class="input-group">
          <input
            name="password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="button-group">
          <button type="submit" class="btn">Login</button>
        </div>
      </form>
      <div class="link">
        <p>Don't have an account? <a href="/register">Sign Up</a></p>
      </div>
    </div>
  </body>
</html>
